@media screen and (min-width: 320px) and (max-width: 389px) {
    .camel{
        width: 40px;
        left: 20px;
    }
    .menu{
        width: 65%;
        right: 10px;
    }
    .detail{
        width: 70%;
        margin-top: 10px;
        margin-left: 10px;
        margin-top: 100px;
        font-size: 10px;
        line-height: 20px;
    }
    .box{
        width: 80%;
        top: 50vh;
        left: 40px;
    }
    .card{
        width: 250px;
        background-position:center;
    }
}
@media screen and (min-width:390px) and (max-width:460px) {
    .camel{
        width: 40px;
        left: 20px;
    }
    .menu{
        width: 65%;
        right: 10px;
    }
    .detail{
        width: 70%;
        margin-top: 10px;
        margin-left: 10px;
        margin-top: 100px;
        font-size: 10px;
        line-height: 20px;
    }
    .box{
        width: 90%;
        top: 49vh;
        left: 52px;
    }
    .card{
        width: 280px;
        background-position: center;
    }
}
@media screen and (min-width:500px) and (max-width:800px) {
    .camel{
        width: 60px;
        left: 76px;
        top: 3.5em;
    }
    .menu{
        width: 45%;
        right: 40px;
        top: 4em;
    }
    .detail{
        width: 70%;
        margin-top: 30px;
        margin-left: 100px;
        margin-top: 8em;
        font-size: 20px;
        line-height: 25px;
    }
    .box{
        width: 80%;
        top: 45vh;
        left: 70px;
    }
    .card{
        width: 250px;
        background-position: center;
    }
}
@media screen and (min-width:990px) and (max-width:1030px) {
    .camel{
        width: 100px;
        left: 40px;
    }
    .menu{
        width: 50%;
        right: 70px;
        top: 80px;
        font-size: 27px;
    }
    .detail{
        position: absolute;
        width: 90%;
        margin-top: 190px;
        margin-left: 40px;
        font-size: 10px;
        line-height: 35px;
        font-size: 35px;
    }
    .box{
        width: 90%;
        top: 45vh;
        left: 40px;
    }
    .card{
        width: 380px;
        height: 240px;
        font-size: 25px;
        background-position: center;
    }
}