
body{
    background: url(./images/shara\ desert.jpg);
    background-size: cover;
    background-position: center;
    background-repeat:repeat;
    background-position-y: -50px;
    
}
.parent{
    width: 100%;
}
.camel{
    position: absolute;
    width: 4rem;
    left: 7rem;
    top: 2rem;
}
.menu{
    display: flex;
    position: absolute;
    width: 28%;
    justify-content: space-between;
    right: 8.5rem;
    top: 2.5rem;
    color: white;
    font-size: 1.2rem;
}
.list{
    width: 1.4rem;
    color: white;
}
.detail{
    position: relative;
    width: 40%;
    color: white;
    margin-top: 14rem;
    margin-left: 7rem;
    line-height: 2rem;
    
}
.sahara{
    font-size: 5rem;
    font-weight: 900;
}
.button{
    background: white;
    border-radius: 15px;
    width: 10rem;
    height: 3rem;
    border: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.button:hover{
    transform: scale(1.03);
    cursor: pointer;
}
.box{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 34%;
    top: 15%;
    right: 12%;
    justify-content: space-between;
}
.card{
    width: 10rem;
    height: 11rem;
    border: 1px solid black;
    margin-bottom: 2.8rem;
    border-radius: 12px;
    box-shadow: 3px 3px 4px rgb(41, 14, 14);
    color: white;
    font-size: 1rem;
    padding: 10px;
    transition: all 0.1s;
}
.card:hover{
    transform: translate(-2px,-6px);
    cursor: pointer;
}
.card1{
    background: url(./images/pic-1.png);
    background-size: cover;
}
.card2{
    background: url(./images/pic-2.png);
    background-size: cover;
}
.card3{
    background: url(./images/pic-3.png);
    background-size: cover;
}
.card4{
    background: url(./images/pic-4.png);
    background-size: cover;
}
a{
    text-decoration: none;
    color: white;
}