
body{
    background: url(./images/shara\ desert.jpg);
    background-size: cover;
    background-position: center;
    background-repeat:repeat;
    background-position-y: -50px;
    
}
.parent{
    width: 100%;
}
.camel{
    position: absolute;
    width: 60px;
    left: 120px;
    top: 30px;
}
.menu{
    display: flex;
    position: absolute;
    width: 28%;
    justify-content: space-between;
    right: 130px;
    top: 35px;
    color: white;
    font-size: 16px;
}
.list{
    width: 20px;
    color: white;
}
.detail{
    display: block;
    width: 40%;
    color: white;
    margin-top: 210px;
    margin-left: 100px;
    line-height: 30px;
    
}
.sahara{
    font-size: 70px;
    font-weight: 900;
}
.button{
    background: white;
    border-radius: 15px;
    width: 150px;
    height: 40px;
    border: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.button:hover{
    transform: scale(1.03);
    cursor: pointer;
}
.box{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 34%;
    top: 15vh;
    right: 150px;
    justify-content: space-between;
}
.card{
    width: 160px;
    height: 170px;
    border: 1px solid black;
    margin-bottom: 50px;
    border-radius: 12px;
    box-shadow: 3px 3px 4px rgb(41, 14, 14);
    color: white;
    font-size: 12px;
    padding: 10px;
    transition: all 0.1s;
}
.card:hover{
    transform: translate(-2px,-6px);
    cursor: pointer;
}
.card1{
    background: url(./images/pic-1.png);
    background-size: cover;
}
.card2{
    background: url(./images/pic-2.png);
    background-size: cover;
}
.card3{
    background: url(./images/pic-3.png);
    background-size: cover;
}
.card4{
    background: url(./images/pic-4.png);
    background-size: cover;
}
a{
    text-decoration: none;
    color: white;
}